body{
    
    text-align: center;
    padding: 10%;
    font-size: 25px;
    background-image: url('https://vignette.wikia.nocookie.net/midian/images/5/50/Wiki-background/revision/latest?cb=20140215035321');
    background-repeat: no-repeat;
    background-size: cover; 
    border: 10px solid white;
    text-align: center;
    color: blanchedalmond;   

    text-shadow: 0 0 5px #afafaf, 0 0 15px #8a8a8a, 0 0 20px #8a8a8a, 0 0 40px #8a8a8a, 0 0 60px #4b4b4b, 0 0 10px #c9c9c9, 0 0 98px #4b4b4b;
    color: white;
    font-family: "Sacramento", cursive;

     animation: blink 12s infinite;

}
button{
   
    border: 5px solid white;
    box-shadow:0 0 5px #afafaf, 0 0 15px #8a8a8a, 0 0 20px #8a8a8a, 0 0 40px #8a8a8a ;
    height: 100px;
    width: 100px;
    
}
#icons {
    flex-direction: row;
    text-align: bottom;
    padding-bottom: 0%;  
  }

label {
    animation: changeOrder 0.45s infinite linear;
    background: #f5f5f5;
    border: 1px solid grey;
    box-sizing: border-box;
    box-shadow:0 0 5px #afafaf, 0 0 15px #8a8a8a, 0 0 20px #8a8a8a, 0 0 40px #8a8a8a ;
    border: 10px solid #f5f5f5;
    height: 300px;
    width: 300px;
    line-height: 100px;
    font-size: 2rem;
    text-align: center;

  }
